@keyframes pisca {
    0% { opacity: 0.2; }
    50% { opacity: 1; }
    100% { opacity: 0.2; }
}

body{
    margin: 0   px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #24652a;
    flex-direction: column
}

.urna{
    background-color: #dbd5c9;
    padding: 30px;
    display: flex;
    border: 4px solid #555;
}
.tela{
    width: 500px;
    height: 340px;
    background: linear-gradient(to right, #E8E8E8, #C1C1C1);
    border: 3px solid #555;
    display: flex;
    flex-direction: column;
}
.teclado{
    background-color: #403A3A;
    margin-left: 30px;
}

.teclado--linha{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.teclado--botao{
    width: 70px;
    height: 40px;
    background-color: #000;
    color: #fff; 
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 0px #555;
}
.botao--branco{
    background-color: #fff;
    color: #000;
    font-size: 15px;
}
.botao--corrige{
    background-color: #F09046;
    color: #000;
    font-size: 15px;
}
.botao--confirma{
    background-color: #48c079;
    color: #000;
    font-size: 15px;
    width: 90px;
    height: 50px;
    padding: 6px;
}

.d-1{
    flex: 1;
    display: flex;
}

.d-1-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.d-1-1{
    height: 50px;
    display: flex;
    align-items: center;
    
}

.d-1-2{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-1-3{
    height: 50px;
}
.numero{
    display: inline-block;
    width: 30px;
    height: 40px;
    border: 1px solid #000;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}
.pisca{
    animation-name: pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.d-1-4{
    flex: 1;
    line-height: 40px;
}

.d-1-right{
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.d-1-image{
    border: 1px solid #000;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
}

.d-1-image.small{
    width: 70%;
    font-size: 12px;
}

.d-1-image img{
    width: 100%;
}

.d-2{
    height: 50px;
    font-size: 14px;
    border-top: 2px solid #000;
    padding-left: 10px;
}

.aviso--grande{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 30px;
    left: 50px;
    right: 20px;
}

.aviso--gigante {
    font-size: 100px;
    font-weight: bold;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.backImage img{
    position: relative;
    justify-content: center;
    border: 4px solid #000;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
    margin: 30px;
    
}